@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}




@import url('https://fonts.googleapis.com/css2?family=Kanit');

.App {
  text-align: center;
  font-family: 'Kanit';
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

rect {
  transition: width 0.1s ease-in-out;
}

.popUpContainer {
  background-color: #92ab89;
  width:50vw;
  height:50vh;
  border-width: 10px;
  border-radius: 5vw;
  text-align: center;
}

.popUpContent {
  margin-top:10vh;
}

.submitAnswer {
  border-style: inset;
  border-radius: 5px;
  border-color: black !important;
  border-width: 2px;
  width:45%;
  height:100%;
  margin-right: 2%;
  
  padding: 10px;
  transition: border-color 1s ease-in-out;
}
.submitAnswer:focus {
  transition: border-color 1s ease-in-out;
  border-radius: 5px;
  border-color: black;
}

.submitButton {
  border-radius: 5px;
  border-color: black;
  border-width: 2px;
  width:50px;
  height: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 5px;
  padding-left: 5px;
  background-color: white;
  transition: background-color 0.2s ease-in-out;
}

.checkMark {
  width: 100%;
  margin: 0px;
  stroke: black;
  transition: stroke 0.2s ease-in-out;
}

.submitButton:hover .checkMark{

  stroke: white;
  
}


.submitButton:hover {

  background-color: #72cf50;
  stroke-width: +10px;
  
}

.highScore {
  width: 50%;
  display: block;
  transition: rotate 0.2s ease-in-out;
}

.highScore:hover{
  
  rotate: 3deg;
}
