body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

rect {
  transition: width 0.1s ease-in-out;
}

.popUpContainer {
  background-color: rgb(255, 244, 218);
  width:50vw;
  height:50vh;
  border-width: 10px;
  border-radius: 5vw;
  text-align: center;
}